

@import "w.less";


@color-border-base: #ccc;






/**覆盖样式****************************************************************************/


















/*设置根html样式  */
.cmb_root_html {
font-size: 50%; /*设置为62.75 默认为10px*/
}

.cmb_root_body
{
	font-size: 1.4rem;
}

/*分隔样式*/
.cmb_common_list_split_one
{
	height:1rem;
	.w_clear;
}


/*重要字体样式*/
.cmb_common_font_import
{
	font-size: 1.8rem;
	line-height:2rem;
}

/*非重要内容字体*/
.cmb_common_font_normal
{
font-size: 1.4rem;
	color:#999;
}


/*单行文本显示  超出自动隐藏*/
.cmb_common_single_line
{
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}



.cmb_list_info
{

	
	ul li .c_item
	{

		.w_clear;
		
		.c_left
		{
			width:25%;
			margin-right:3%;
			.w_fl;
			height:auto;
			
			img
			{
				width:100%;
				height:auto;
				border:solid 1px @color-border-base;
			}
			
			
			
		} 
		
		.c_right
		{
			width:71%;
			.w_fl;
			
			.c_name
			{
				.cmb_common_font_import;
				
			}
			
			.c_room
			{
				.cmb_common_font_normal;
			}
			.c_feature
			{
				.cmb_common_single_line;
				.cmb_common_font_normal;
			}
		}
	}
	
	
	
	
	
}

